nav {
    background-color:#f1f3f5;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    z-index: 1;
  }

  /* ol ul li {
    display: flex;
    flex-direction:row;
    float:center;
  } */

  ol{
    list-style:none;
    display:flex;
    margin-left:auto;
  }

  ol > li{
    display:inline;
  }

  .container{
    display:flex;
    align-items:center;
  }

  .left{
    flex: 1;
  }

  .middle{
    text-decoration: none;
    flex: 1;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 12px;
    color: #345;
    font-weight: 700;
  }

  .right{
    display:flex;
    position:absolute;
    right:20px;
    top:20px;
    display:flex;
    flex: 1;
    margin-right:10px;
    padding-left:5px;
  }

  /* .nav-link{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 12px;
    display: inline;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin-top:8px;
    margin-bottom: 48px;
    color: #345;
    text-decoration: none;
  } */

  .middle:hover {
    color: #825fc9
  }

  body{
    background-color:#f1f3f5 
  }

  #home{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 40px;
    line-height: 1.2;
    font-weight:200;
    margin: 32px;
    padding: 16px;
    color: #111;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 32px;
    text-decoration: none;
    text-align:center;
  }

  h1{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 48px;
    line-height: 1.2px;
    font-weight:200;
    margin: 32px;
    padding: 16px;
    color: #111;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 32px;
  }

  p{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    display: block;
    font-weight:normal;
    font-size: 15px;
    margin-top: 32px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-decoration: none;
    color:#111;
    margin-left:40px;
  }

  #link{
    text-decoration:none;
    color:#111;
  }

  #link:hover {
    color: #22e3cc
  }

  #link:visited{
    color:#50505a;
  }

  form{
    display: inline-block;
  }

.search-box {
    display: flex;
    justify-content:left;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 13px;
    width:700px;
    background: #fff;
    box-shadow: 0 6px 0px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3);
    height: 64px;
    cursor: text;
}

.search-box.prefix {
    text-align: left;  
    left:3px;
    font-size: 11px;
    color: rgba(102,119,136,.5);
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 3px;
    background: rgba(241,243,245,.5);
    box-shadow: 0 1px 1px rgba(102,119,136,.25);
    }

.search-box.sep {
    float:left;
    font-size: 13px;
    text-align:center;
    height:64px;
}

.search-box.input {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 28px;
    padding: 16px;
    height: 20em;
    width: 25em;
    background: 0 0;
    border: 0;
    padding-left: 0;
    color: #111;
}

.ad-box{
    margin-left:60px;
    line-height: 0.7;
    font-size: 11px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #678;
}

ol {
    list-style-type: none;
    margin-bottom: 60px;
    margin:auto;
}

.wrapper{
    display: flex;
    flex-wrap:wrap;
    padding: 15px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.item-sheet{
    display: flex; 
    flex-wrap: wrap;
    margin: auto;
    border:none;
    width: 50%;
    text-decoration:none;
    padding: 3px;
    color: #fff;
    border-radius: 3px;
    align-items: center;
}

.circle{
  display: inline;
  position:top;
  margin-left:4px;
  width:8px;
  height:8px;
  background: #77dab2;
  border-radius: 50%;
}

button{
    border:none;
    margin: auto;
    margin-bottom: 8px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: 12em;
    padding: 16px;
    color:#fff;
    text-decoration: none;
    border-radius: 3px;
    align-items: center;
    text-align: left;
}

.purple-button{
    background: #745fb5;
    background-image: linear-gradient(15deg,#745fb5,#9a6dbb);
}

.gray-button{
    background: #678;
    background-image: linear-gradient(15deg,#678,#6f8793);
}

.green-button{
    background: #14af83;
    background-image: linear-gradient(15deg,#14af83,#15b89a);
}

.purple-button:hover {
    color: #825fc9;
  }

.update{
  color:#745fb5;
  margin-left:22em;
}

hr{
  border: solid lightgrey 0.5px;
  width:50%;
}

/* .list-container{
  width:10%;
  height:30%;
} */

.list-box{
  display:flex;
  flex-wrap:wrap;
  margin: auto;
  list-style:none;
  flex-direction:column;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  width:50%;
  height:10%;
  justify-content:center;
}

.footer{
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  padding:3px;
  margin-block-start: 1em;
}

#arrow2{
  margin-top:20px;
  margin-left:15em;
}

.footer-button{
  background: #745fb5;
  background-image: linear-gradient(15deg,#745fb5,#9a6dbb);
  height:12px;
  left:50em;
}

